body {
  margin: 0;
  padding: 7vw 0 0 0;
}

button {
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
}

.nav {
  width: 96vw;
  padding: 0 5vw;
  height: 5vw;
  position: fixed;
  top: 0;
}

.nav a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}

.general-padding {
  padding: 0 2rem;
  margin: 1rem 0 0 0;
}

.task-box {
  width: 30vw;
  border: 1px solid black;
  margin: 1rem;
  background-color: darkgray;
  box-shadow: 4px 4px 14px 0px black;
  border-radius: 10px;
}

.task-box div {
  width: 100%;
}